# Data Science Tools and Ecosystem

In this notebook, We will also demonstrate some simple arithmetic operations using Python.

## Languages used in Data Science
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow

## Table of Data Science Tools

| Tool            | Category       |
|-----------------|----------------|
| Jupyter Notebook| IDE            |
| Apache Spark    | Big Data Tool  |
| TensorFlow      | Deep Learning  |
| RStudio         | IDE            |
| Hadoop          | Big Data Tool  |

## Examples of Arithmetic Expressions
Below are some examples of simple arithmetic expressions in Python.

In [1]:
# This code multiplies and adds numbers
result = (3 * 4) + 5
print(result)

17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Objectives
- List popular languages in Data Science
- List commonly used libraries
- Create tables using Markdown
- Perform simple arithmetic using Python
- Convert time units

**Author:** CHAU